
body {
    background-color: #e2f0f3;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'PT Sans';
}

header, footer {
    justify-content: center;
    background-color: whitesmoke;
    margin: 10px 10px 10px 35%;
    align-content: space-between;
    word-spacing: 25px;
    width: 60%;
}

h1 {
    font-family: 'Amarante';
    font-weight: 500;
    font-size: 37px;
    color: #006e44;
    text-align: center;
    width: 100%;
}

h2 {
    font-family: 'PT Sans Narrow',light-200;
    font-weight: 400;
    font-size: 20px;
    color: black;
    text-align: center;
    width: 100%;
}

h4 {
    font-family: 'PT Sans Narrow', light-300;
    font-weight: 400;
    font-size: 18px;
    width: 75%;
    padding-bottom: 0px;
}

h3 {
    justify-content: left;
}

img {
    width:350px;
    margin-bottom: 20px;
}

.pics {
    margin: 25px 50px 10px 125px;
}



.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}