
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    overflow-x: hidden;
}
/* overflow-x learned from Chinasa Mbanugo on Youtube*/

header, footer {
    justify-content: center;
    text-align: center;
    align-content: space-between;
    word-spacing: 25px;
    width: 100%;
}

header img {
    width: 15%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Amarante';
    font-weight: 500;
    font-size: 37px;
    color: #2E61BE;
    text-align: left;
    width: 100%;
    margin: 20px 20px 20px 90px;
}

h2 {
    font-family: 'PT Sans Narrow',light-200;
    font-weight: 400;
    font-size: 20px;
    color: black;
    text-align: left;
    width: 100%;
    margin: 20px 20px 20px 90px;
}

h4 {
    font-family: 'PT Sans Narrow', light-300;
    font-weight: 400;
    font-size: 18px;
    width: 75%;
    padding-bottom: 0px;
}

h3 a {
    justify-content: left;
    margin-top: 20px;
    color: #2E61BE;
}

img {
    width:350px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-family: 'Amarante';
    font-weight: 300;
    font-size: 24px;
    color:#2E61BE;
    text-align: center;
}

.pics {
    margin: 25px 50px 10px 125px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot {
    padding-left: 18%;
    margin: 50 0 0 0;
    width: 100%;
    justify-content: center;
}

.foot img {
    width: 135px;
    justify-content: center;
}